// Color
color-background = rgb(5,10,16)
color-font = #fff
color-meta = #fff
color-border = #ddd
color-link = #0cf
img-background = url(images/body.jpg)

// Font
font-default = "Microsoft YaHei"
font-serif = "Microsoft YaHei"
font-mono = Consolas, Monaco, Lucida Console, monospace
font-title = "Microsoft YaHei"

font-icon = FontAwesome
font-icon-path = 'font/fontawesome-webfont'

@font-face {
  font-family 'FontAwesome'
  font-style normal
  font-weight normal
  src url(font-icon-path.eot?#iefix) format('embedded-opentype'), url(font-icon-path.woff) format('woff'), url(font-icon-path.ttf) format('truetype'), url(font-icon-path.svg#FontAwesomeRegular) format('svg')
}

// Width
page-width = 1200px
