<div class="widget tag">
    <h3 class="title">广告</h3>
    <div class="entry">
      <iframe style="width:100%" src="http://rcm-cn.amazon-adsystem.com/e/cm?t=flygonnet-23&o=28&p=12&l=ur1&category=pc&banner=1P554KM8B3JENN8NX5R2&f=ifr" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    </div>
</div>