<div class="widget tag">
    <h3 class="title">广告</h3>
    <div class="entry" style="padding-left:10px;padding-right:10px;">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Flygon250x250 -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:250px;height:250px"
             data-ad-client="ca-pub-3565452474788507"
             data-ad-slot="9493159174"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>