<div class="widget tag">
    <h3 class="title">广告</h3>
    <div class="entry" style="padding-left:10px;padding-right:10px;">
        <!-- google ads -->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Flygon250x250 -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:250px;height:250px"
             data-ad-client="ca-pub-3565452474788507"
             data-ad-slot="9493159174"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <!-- amazon ads -->
        <iframe src="https://rcm-cn.amazon-adsystem.com/e/cm?o=28&p=12&l=ez&f=ifr&linkID=ac142068ef76b9f24688ec0b2443d1b1&t=flygonnet-23&tracking_id=flygonnet-23" width="250" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    </div>
</div>