<div class="widget tag">
  <h3 class="title">传送门</h3>
  <div class="entry">
<ul>
<!-- link begin -->
<li><a href='https://github.com/googlehosts/hosts'>常用 Hosts</a></li>
<li><a href='https://gitee.com/wizardforcel/sniffing-research'>流量嗅探研究</a></li>
<li><a href='https://www.switchysharp.com/'>SwitchySharp</a></li>
<li><a href='https://magi.com/'>Magi</a></li>
<li><a href='https://dogedoge.com/'>DogeDoge</a></li>
<li><a href='https://www.semanticscholar.org/'>Semantic Scholar</a></li>
<li><a href='https://cyberleninka.org/'>CyberLeninka</a></li>
<li><a href='https://www.sci-hub.ren/'>Scihub</a></li>
<li><a href='https://scholar.glgoo.org/'>Glgoo 学术</a></li>
<li><a href='https://z-lib.org/'>ZLibrary</a></li>
<li><a href='http://gen.lib.rus.ec/'>LibGenius</a></li>
<!-- link end -->
</ul>
  </div>
</div>
