<div class="widget tag">
  <h3 class="title">传送门</h3>
  <div class="entry">
<ul>
<!-- link begin -->
<li><a href='https://github.com/googlehosts/hosts'>常用 Hosts</a></li>
<li><a href='https://gitee.com/wizardforcel/sniffing-research'>流量嗅探研究</a></li>
<li><a href='https://www.switchysharp.com/'>SwitchySharp</a></li>
<!-- link end -->
</ul>
  </div>
</div>
