<div class="widget tag">
    <h3 class="title">公众号</h3>
    <div class="entry">
      <p>请关注我们的公众号，回复“教程/路线/比赛/报告/技术书/轻小说/漫画/新知”来获取更多资源：</p>
      <p><img src='/img/gzh_qr.jpg' style='width:100%;background:rgba(255,255,255,0.6)' /></p>
    </div>
</div>