#pagination
  clearfix()
  margin block-margin auto
  background rgba(0,0,0,0.65)
  border-radius 17px
  text-align center
  overflow hidden
  margin-bottom 50px

  a, span
    padding 10px 20px
    line-height 1
    height 2ex

  a
    color color-font
    text-decoration none
    &:hover
      background #000
      color color-link

  .prev
    float left

  .next
    float right

  .page-number
    display inline-block
    @media mq-mobile
      display none

  .current
    color color-cont
    font-weight bold

  .space
    color color-border