<% if (site.tags.length){ %>
<div class="widget tag">
  <h3 class="title">友情链接</h3>
  <div class="entry">
    <ul>
<!-- link start -->
<li><a href='http://bestcbooks.com/'>计算机书籍控</a></li>
<li><a href='http://www.salttiger.com/'>SaltTiger</a></li>
<li><a href='http://it-ebooks.cn/'>it-ebooks.cn</a></li>
<!-- link  end -->
    </ul>
  </div>
</div>
<% } %>