<div class="widget tag">
    <h3 class="title">赞助我</h3>
    <div class="entry">
      <form action="https://shenghuo.alipay.com/send/payment/fill.htm" method="POST" target="_blank" accept-charset="GBK"> <input name="optEmail" type="hidden" value="562826179@qq.com" /> <input name="payAmount" type="hidden" value="10" /> <input name="title" type="hidden" value="赞助【龙哥盟】" /> <input name="memo" type="hidden" value="感谢您的赞助" /> <input name="pay" type="image" value="捐款" src="http://7u2hdm.com1.z0.glb.clouddn.com/alipay.png" /></form>
    </div>
</div>